/* CSS - Reset */
html,
body,
div,
em,
img,
form,
label,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #222;
}

a:hover {
  text-decoration: underline;
}

input[type="button"] {
  padding: 8px 20px 8px 20px;
  border: none;
  border-radius: 5%;
  cursor: pointer;
}

:focus {
  outline-style: none;
}

nav {
  margin: 0px 20px 0px 20px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav .about {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

nav .menu {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

nav .menu a {
  font-size: 13px;
}

nav #sign-btn {
  color: #ffffff;
  background-color: #1a73e8;
}

.search-bar {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 584px;
}

.google-logo {
  width: 271px;
  height: 97px;
  padding: 10px;
  align-self: center;
}

.search-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.search-text {
  background-image: url(https://www.google.com/images/searchbox/desktop_searchbox_sprites302_hr.webp);
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 10px 12px;
  font-size: 16px;
  height: 42px;
  border-radius: 25px;
  border-color: #dfe1e5;
}

.search-text:hover {
  box-shadow: 2px 2px 3px #dfe1e5;
}

.search-btn-group {
  margin-bottom: 30%;
  padding: 20px;
  align-self: center;
}

.search-btn {
  margin: 10px;
  background-color: #f8f9fa;
}

.search-btn:hover {
  outline: solid;
  outline-color: gainsboro;
  outline-width: thin;
}

footer .lang {
  padding: 15px;
  background-color: #f2f2f2;
}
footer .info {
  padding: 15px;
  background-color: #f2f2f2;
  border: #dadce0;
  border-style: solid;
  border-width: 1px;
  display: grid;
  grid-template-areas: "company co2 settings";
  gap: 30px 20px;
}

footer a {
  color: #70757a;
}

footer .info-co2 {
  grid-area: co2;
  grid-column: 1fr;
}

footer .info-co2-img {
  margin-right: 5px;
  height: 14px;
}

footer .info-company {
  grid-area: company;
  grid-column: 1fr;
  display: flex;
  gap: 20px;
}

footer .info-settings {
  grid-area: settings;
  grid-column: 1fr;
  display: flex;
  gap: 20px;
}

@media (min-width: 1200px) {
  footer .info {
    grid-template-areas: "company co2 settings";
    justify-content: space-between;
  }
}

@media (max-width: 1200px) {
  footer .info {
    grid-template-areas:
      "co2 co2"
      "company settings";
    justify-items: center;
  }
}

@media (max-width: 800px) {
  footer .info {
    grid-template-areas:
      "co2"
      "company"
      "settings";
    justify-items: center;
  }
}
